.container {
    width: $mc;
    margin: 0 auto;

    &_body {
        padding-top: 50px;
    }

    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: $pv) {
    .container {
        &_body {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}
