.list {
    &_header {
        padding-left: 22px;
    }
}

@media (min-width: $pv) {
    .list {
        &_header {
            display: flex;
            justify-content: space-between;
            padding-left: 0;
        }
    }
}