* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="radio"] {
    appearance: none;
}

/* Colors */
:root {
    --text: rgba(44, 44, 44, 1);
}
