* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

input[type="radio"] {
    appearance: none;
}

/* Viewport Sizes*/

/* Mobile Viewport 375*/
$mv: 320px;
/*Tablet Viewport 768*/
$tv: 768px;
/*PC Viewport 1728*/
$pv: 1200px;

/* Container Sizes */

/* Mobile Container*/
$mc: 90%;
/* Tablet Container*/
$tc: 90%;
/* Pc Container*/
$pc: 90%;

/* Colors */
:root {
    --text: rgba(44, 44, 44, 1);
    --background: rgb(239, 223, 187);
}
